html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Steelfish';
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: Steelfish;
    font-weight: 600;
    src: url(steelfish.ttf);
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

@keyframes slideHorizontal {
    to {
        transform: translateX(0);
    }
}

@keyframes slideVertical {
    to {
        transform: translateY(0);
    }
}

@mixin slideIn($beginingPosition, $endingPosition) {
    transform: $beginingPosition;
    animation: $endingPosition 1s 1s cubic-bezier(0.42, 0, 0.69, 1.21) forwards;
}

@media (min-width: $desktop) {
    .centerContainer {
        margin: 0;
        margin-bottom: 10vh;
    }
}
