.header__mainHeader {
    font-size: 50px;
    margin: 3px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 60px;
    @include slideIn(translateX(calc(-50vw - 100%)), slideHorizontal);
}

.header__slogan {
    margin: 0px;
    margin-bottom: 25px;
    font-size: 24px;
    @include slideIn(translateX(calc(50vw + 100%)), slideHorizontal);
}

@media (min-width: $desktop) {
    .header__mainHeader {
        margin: 20px;
        font-size: 80px;
        letter-spacing: normal;
    }

    .header__slogan {
        font-size: 32px;
        margin: 0;
    }
}

@media (min-width: $desktop-big) {
    .header__mainHeader {
        margin: 30px;
        font-size: 90px;
    }

    .header__slogan {
        font-size: 36px;
        margin-bottom: 30px;
    }
}
