.header__mainHeader {
    font-size: 70px;
    margin: 15px;
    text-transform: uppercase;
    line-height: 60px;
}

.header__slogan {
    margin: 0px;
    margin-bottom: 30px;
    font-size: 28px;
}

@media (min-width: $desktop) {
    .header__mainHeader {
        margin: 30px;
        font-size: 90px;
    }

    .header__slogan {
        font-size: 36px;
    }
}
