.logo__container {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
}

.logo::after {
    content: 'A';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    border: 1.5px solid black;
    font-size: 54px;
}


.logo_svg {
    width: 60px;
    height: 60px;
}

@media (min-height: $mobile-big) {
    .logo__container {
        display: block;
    }
}

@media (min-width: $desktop) {
    .logo__container {
        display: block;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .logo_svg {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: $desktop-big) {
    .logo {
        width: 100px;
        height: 100px;
    }

    .logo_svg {
        width: 100px;
        height: 100px;
    }
}
